
*{
    direction: rtl;
   
    font-family:'Times New Roman', Times, serif;
    --body-color:#ffffff;
    --text-color:#272162;
    margin: 0;
    padding: 0;

}
header{
   
    top: 0;
    z-index: 20;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: rgb(255, 255, 255);
}

.search_he{
width: 250px;
}
.form-control{
    border-radius: 1rem;
}

.dropdown-menu{
text-align: right;
}
.slid_hi{
    height: 450px;
    overflow: hidden;
}
.btn-outline-secondary{
    background-color: var(--text-color);
    color: white;
}
.btn-outline-secondary a{
    color: white;
}
.navbar-nav .nav-item .nav-link,.text-cl{
    color: var(--text-color);
}
@media (min-width:501px) and (max-width:900px){
    .slid_hi{
        height: 250px;
      
    }
}
@media (min-width:250px) and (max-width:500px){
    .slid_hi{
        height: 150px;
    }
}
/* //////////////slid comp// */
#container_im {
    width: 85vw;
    margin: 0;
    padding: 0;
    display: grid ;
    place-items: center;
  }
  
  #slider-container_im {
    height: 300px;
    width: 80vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container_im .btn_im {
    position: absolute;
    top: calc(50% - 30px);
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-left: 4px solid var(--text-color);
    border-top: 4px solid var(--text-color);
  }
  
  #slider-container_im .btn_im:hover {
    transform: scale(1.2);
  }
  
  #slider-container_im .btn_im.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container_im .btn_im:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container_im .btn_im:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container_im #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container_im #slider .slide_im {
    height: 90%;
    margin: auto 10px;
    display: grid;
    place-items: center;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container_im #slider .slide_im {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container_im #slider .slide_im {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container_im #slider .slide_im {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container_im #slider .slide_im {
      width: calc(10% - 20px);
    }
  
  }
/* //////////// */
.carousel-caption h1{
    font-weight: bold;
    font-size: 40px;
}
.row-80{
    width: 85%;
    margin: 2rem auto;
}
section h2{
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.btn a{
    text-decoration: none;
}
.section2 .carousel-inner{
  width: 70%;
  margin: 2rem auto;
}
.section2 .carousel-inner .carousel-item img{
    height: 150px;
    object-fit: cover;
}
.section3 .row{
 margin-bottom: 4rem;   
}

footer .row h5{
    color: var(--text-color);
    font-weight: bold;
}
/* /////////job */
.section_job{
    margin-top: 4rem;
}
.text_he{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 21;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 4rem;
    margin-left: 15%;
}
.btn-colo-b{
    border: 2px solid var(--text-color);
}
.btn-colo-b:hover{
    border: 2px solid var(--body-color);
    background-color: var(--text-color);
    opacity: .6;
    color: var(--body-color);
}
/* //////////////////det_job */
strong{
    color: var(--text-color);
    font-weight: bold;
    padding: 10px;
}

/* Skyscraper */

#base {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 570px;
  overflow: hidden;
  background: #FFF;
  border-radius: 0px;
  box-shadow: 10px 10px 10px;
}

.wall {
    height: 100%;
    position: relative;
    top: 55px;
    left: -262px;
    transform: rotate(12deg);
    animation: wall 10s linear infinite;
    z-index: 1;
}

.title {
    position: absolute;
    height: 7.2%;
    top: -100px;
    left: 10px;
    filter: drop-shadow(0px 0px 9px #654747);
    z-index: 2;
    animation: t 10s ease-in-out infinite;
}

.fh {
    position: absolute;
    background: linear-gradient(90deg, #a6075b, #fe0034, #fe0034);
    height: 300px;
    width: 120px;
    top: -300px;
    z-index: 3;
    animation: fh 10s ease-in-out infinite;
}

.fh2 {
    position: absolute;
    background: white;
    height: 300px;
    width: 120px;
    top: -300px;
    z-index: 3;
    animation: fh2 10s ease-in-out infinite;
}

.but {
    color: white;
    position: absolute;
    top: 0px;
    left: 12.5px;
    height: 43px;
    width: 100px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: linear-gradient(45deg, #a6075b, #fe0034, #fe0034);
    box-shadow: 0px 0px 20px 0.5px #000;
    cursor: pointer;
    font-size: 15px;
    font-family: "Raleway";
    letter-spacing: 0px;
    font-weight: 500;
    animation: b 2s ease-in-out infinite;
    z-index: 4;
}

.butd {
    position: absolute;
    animation: butd 10s ease-in-out infinite;
    z-index: 4;
}

a:link,
a:visited {
    color: azure;
    text-decoration: none;
}

.poc {
    position: absolute;
    height: 23%;
    left: 6px;
    top: 35px;
    z-index: 5;
    animation: poc 10s ease-in-out infinite;
}

.ea {
    position: absolute;
    height: 4%;
    top: 120px;
    left: 10px;
    z-index: 4;
    animation: ea 10s ease-in-out infinite;
}

.ps {
    position: absolute;
    height: 6.5%;
    top: 120px;
    left: 40px;
    z-index: 4;
    animation: ps 10s ease-in-out infinite;
}

.x {
    position: absolute;
    height: 4%;
    top: 120px;
    left: 85px;
    z-index: 4;
    animation: x 10s ease-in-out infinite;

}


h {
    color: #fe0034;
    position: absolute;
    text-align: center;
    top: 8px;
    left: 0px;
    height: 20px;
    width: 120px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 500;
    animation: h 10s ease-in-out infinite;
    z-index: 6;
}

@keyframes wall {
    0% {
        top: 55px;
        left: -266px;

    }
    10% {
        top: 58px;
        left: -268px;
    }
    20% {
        top: 59px;
        left: -261px;
    }
    30% {
        top: 55px;
        left: -269px;
    }
    40% {
        top: 53px;
        left: -265px;
    }
    50% {
        top: 51px;
        left: -261px;
    }
    60% {
        top: 55px;
        left: -267px;
    }
    70% {
        top: 57px;
        left: -262px;
    }
    80% {
        top: 59px;
        left: -265px;
    }
    90% {
        top: 53px;
        left: -269px;
    }
    100% {
        top: 55px;
        left: -266px;
    }
}

@keyframes t {
    0% {
        top: -100px;
    }
    10% {
        top: 20px
    }
    15% {
        top: 15px
    }
    20% {
        top: 277px;
    }
    22% {
        top: 275px;
    }
    88% {
        top: 275px;
    }

    90% {
        top: 277px;
    }
    95% {
        top: -100px;
    }
}

@keyframes butd {
    0% {
        top: 650px;
    }
    20% {
        top: 650px;
    }
    22% {
        top: 545px;
    }
    24% {
        top: 550px;
    }
    88% {
        top: 550px;
    }
    90% {
        top: 545px;
    }
    95% {
        top: 650px;
    }
    100% {
        top: 650px;
    }

}


@keyframes b {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fh {
    0% {
        top: -300px;
    }
    20% {
        top: -300px
    }
    22% {
        top: -55px;
    }
    24% {
        top: -60px;
    }
    88% {
        top: -60px;
    }
    90% {
        top: -55px;
    }
    95% {
        top: -300px;
    }
}

@keyframes fh2 {
    0% {
        top: -300px;
    }
    20% {
        top: -300px
    }
    25% {
        top: -60px;
    }
    27% {
        top: -65px;
    }
    90% {
        top: -65px;
    }
    92% {
        top: -60px;
    }
    97% {
        top: -300px;
    }
}

@keyframes poc {
    0% {
        top: -200px
    }
    27% {
        top: -200px
    }
    29% {
        top: 52px;
    }
    32% {
        top: 47px;
    }
    87% {
        top: 47px;
    }
    89% {
        top: 52px;
    }
    92% {
        top: -200px
    }
    100% {
        top: -200px
    }
}

@keyframes ea {
    0% {
        opacity: 0;
        top: 40px;
    }
    37% {
        opacity: 0;
        top: 120px;
    }
    40% {
        opacity: 1;
        top: 202px;
    }
    42% {
        opacity: 1;
        top: 198px;
    }
    83% {
        opacity: 1;
        top: 198px;
    }
    85% {
        opacity: 1;
        top: 202px
    }
    86% {
        opacity: 0;
        top: 120px;
    }
    87% {
        top 120px;
         opacity: 0;

    }
    100% {
        opacity: 0;
        top: 120px;
    }
}

@keyframes ps {
    0% {
        opacity: 0;
        top: 40px;
    }
    37% {
        opacity: 0;
        top: 120px;
    }
    41% {
        opacity: 1;
        top: 195px;
    }
    43% {
        opacity: 1;
        top: 191px;
    }
    83% {
        opacity: 1;
        top: 191px;
    }
    85% {
        opacity: 1;
        top: 195px
    }
    86% {
        opacity: 0;
        top: 120px;
    }
    87% {
        top 120px;
        opacity: 0;

    }
    100% {
        opacity: 0;
        top: 120px;
    }
}

@keyframes x {
    0% {
        opacity: 0;
        top: 40px;
    }
    37% {
        opacity: 0;
        top: 120px;
    }
    42% {
        opacity: 1;
        top: 202px;
    }
    44% {
        opacity: 1;
        top: 198px;
    }
    83% {
        opacity: 1;
        top: 198px;
    }
    85% {
        opacity: 1;
        top: 202px
    }
    86% {
        opacity: 0;
        top: 120px;
    }
    87% {
        opacity: 0;
        top 120px;
    }
    100% {
        opacity: 0;
        top: 120px;
    }
}

@keyframes h {
    0% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    45% {
        opacity: 1
    }
    83% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* ///////////////////comp_home/// */
.section4{
   margin: 1rem auto;
}

/* ////////////////form contact */
.cont_Form{

    width: 60%;
    margin:6rem  auto;
    padding: 4rem;
    }
    .form-label{
        color: var(--body-color);
    }
/* ////////////////sign in// */
    .section_bc{
        background-image: url(../img/head1.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 ;
        padding: 0;
        width: 100%;
    }
    .mr_sign{
        margin: 6rem auto;
    }
    .Signup{
        background-color: var(--text-color);
        opacity: 0.7;
        padding: .5rem;
        border-radius: .5rem;
    
    }
    .not-yet{
        color: red;
    }
    .Signup h3{
        color: var(--body-color);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }


.form-group label{
    color: var(--body-color);
}
/* /////////////////service//// */
.title {
 
    position: relative
}

.title::before {
    position: absolute;
    left: -29px;
    top: 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: var(--text-color);
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.title::after {
    position: absolute;
    left: -19px;
    top: 25px;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: var(--text-color);
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.services {
    padding: 40px;
    position: relative
}

.services .square {
    height: 100px;
    width: 100px;
    margin: 30px auto 40px;
    position: relative;
    border-radius: 15px;
    transform: rotate(45deg);
    padding: 10px;
    background-color: var(--text-color);
    box-shadow: 0px 0px 27px 0px #ccc;
    border: 2px dotted #eaf3fa
}

.square i {
    transform: rotate(315deg);
    display: block;
    color: #eaf3fa;
    font-size: 40px;
    padding-top: 17px;
    padding-right: 14px
}

.services .square::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #fa9746;
    content: ''
}

.services .square::after {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 1px;
    height: 88%;
    background-color: #fa9746;
    content: '';
    transform: rotate(90deg)
}

.services .serv .num {
    width: 60px;
    height: 60px;
    background-color: var(--text-color);
    box-shadow: 0px 0px 15px 0px var(--text-color);
    margin: -38px auto 15px auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    border: 1px dashed
}

.services .serv h5 {
    color: #fa9746
}

.services .serv p {
    color: #777
}

.services .serv hr {
    width: 30px;
    border-top: 3px solid rgb(0 169 211)
}
/* ////////////////compeny// */

.container_im .card {
    max-width: 300px;
    height: 150px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.container_im .card:hover {
    height: 250px
}

.container_im .card .imgContainer {
    position: relative;
    width: 150px;
    height: 50px;
    top: -50px;
    right: 60px;
    z-index: 1;
 
}

.container_im .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px

}

.container_im .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out
}

.container_im .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s
}

@media (max-width: 330px) {
    .container_im .card .imgContainer {
        left: -2px
    }
}
.form-select{
    background-position: left 0.75rem center;
}